body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  text-align: center;
  width: 100vw;
}

header {
  color: #3F51B5;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding: 30px 0 30px;
  text-align: center;
}

button {
  height: 100%;
  width: 100%;
}

button:focus {
  outline:0;
}

button:hover {
  filter: brightness(85%);
}

#main-header {
  font-size: 40px;
  margin-bottom: 40px;
}

/*INVENTORY SPECIFIC CSS*/
#inventory-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 20px;
}

#card-container {
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.inventory-card {
  border: 1px solid #303F9F;
  height: 350px;
  width: 250px;
  margin: 10px 10px;
  font-weight: normal;
}

.card-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.bold {
  font-weight: bold;
}

.img-container {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 250px;
}


/*GENERAL SLIDERS SPECIFIC CSS*/
aside {
  display: inline-block;
  height: 100%;
  width: 60px;
}

.main-section {
  display: inline-block;
  text-align: left;
  height: 100%;
  width: 330px;
}

.side-container {
  background-color: white;
  border: 3px solid #009688;
  height: 80vh;
  top: 15vh;
  position: absolute;
  width: 400px;
}

.slider-button-container {
  border-bottom: 3px solid #009688;
  height: 60px;
  width: 100%;
}

.slider-button {
  border-radius: 0;
  width: 99%;
  height: 100%;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.aside-label p {
  position: relative;
  top: 200px;
  font-weight: normal;
  font-size: 16px;
}


/*ORDER HISTORY SPECIFIC CSS*/
#order-history-aside {
  position: relative;
  float: right;
  border-left: 3px solid #009688;
}

#order-history-container {
  float: left;
  left: -340px;;
  z-index: 1;
  overflow-y: scroll;
}

#order-history-container.show {
  left: 0px;
}

#order-items-container {
  display: flex;
  flex-direction: column;
}

.order-item {
  display: inline-block;
  width: 95%;
  margin: 5px 20px;
  text-align: left;
}

.order-item h2 {
  margin-bottom: 5px;
}

.order-item p {
  padding-left: 10px;
  margin-bottom: 10px;
}

/*CART SPECIFIC CSS*/
#cart-container {
  float: right;
  right: -340px;
  z-index: 1;
}

#cart-container.show {
  right: 0px;
}

#cart-aside {
  position: relative;
  float: left;
  border-right: 3px solid #009688;
}

#cart-checkout-button {
  background-color: #BDBDBD;
  bottom: 10px;
  right: 30px;
  border: none;
  font-size: 18px;
  height: 50px;
  position: absolute;
  width: 280px;
}

#cart-info-container h4 {
  margin: 20px;
}


#cart-items-container li {
  margin: 0 20px;
}

.item-price {
  margin-left: 20px;
  display: inline;
  width: 150px;
}

#total-info {
  bottom: 80px;
  right: 30px;
  font-size: 28px;
  position: absolute;
  width: 280px;
}

#total-info p {
  display: inline;
  width: 200px;
}

#cart-total {
  display: inline;
}
