/*body {
  background-color: #BDBDBD;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding: 80px;
  text-align: center;
}

header {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  padding: 20px 0 50px;
  text-align: center;
  text-decoration: underline;
}
